# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv/
.env

# Database files
movies.db

# Generated website files
index.html
style.css
src/index.html
src/style.css

# IDE specific files
.idx/
.vscode/
src/index.html
src/index.html
